<h2> Developers on the team </h2>
<table>
      <thead>
        <tr>
            <th data_field="id">ID </th>
            <th data-field="name">Name</th>
            <th data-field="email">Email</th>
            <th data-field="extra">link</th>
        </tr>
      </thead>

      <tbody>
<% @devs.each do |dev| %>
  <tr>
   <%= render  partial: "partials/dev_item", locals: {developer: dev} %>
  </tr>
<% end %>
</tbody>
</table>
