<nav>
  <span class="logo"> ControllRoom </span>

  <%= link_to "Add Developer to the team" , new_developer_url, class:"add_link" %>
  <%= link_to "Add New Project", new_project_url , class:"add_link" %>
</nav>
