<nav>
  <span class="logo"> ControllRoom </span>
  <%= link_to "Devs | " , developers_url, class:"add_link" %>
  <%= link_to "Projects | " , projects_url, class:"add_link" %>
   <%= link_to "+Dev | " , new_developer_url, class:"add_link" %>
  <%= link_to "+Project | ", new_project_url , class:"add_link" %>
</nav>
